body {
  background-color: #FFFFFF;
  margin: 0; }

  nav {
    color: #FFFFFF;
    background-color: #00FF00;
    overflow: hidden; }
    nav .dropdown {
      position: relative;
      display: block; }
      nav .dropdown:hover .dropdown-content {
        display: block; }
    nav .dropdown-content {
      display: none;
      position: absolute;
      text-align: left;
      min-width: 100%;
      z-index: 1; }
      nav .dropdown-content a {
        display: block;
        color: #FFFFFF;
        background-color: #00FFFF; }
        nav .dropdown-content a:hover {
          color: #FFFFFF;
          background-color: #0000FF; }
    nav a {
      cursor: pointer;
      display: inline-block;
      float: left;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
      nav a:hover {
        color: #FFFFFF;
        background-color: #0000FF; }
        nav a.active {
          color: #FFFFFF;
          background-color: #FF0000; }

footer {
  position: absolute;
  bottom: 0;
  text-align: center; }
