$bg: #FFFFFF;

// Default navbar color
$menu: #FFFFFF;
$menu-bg: #00FF00;

// Color of current page
$menu-active: #FFFFFF;
$menu-active-bg: #FF0000;

// Color of hovered page
$menu-hover: #FFFFFF;
$menu-hover-bg: #0000FF;

// Color of dropdown elements
$menu-drop: #FFFFFF;
$menu-drop-bg: #00FFFF;

// Color of hovered dropdown elements
$menu-drop-hover: #FFFFFF;
$menu-drop-hover-bg: #0000FF;

// Color of active dropdown elements
$menu-drop-active: #FFFFFF;
$menu-drop-active-bg: #FF0000;

@mixin color($fg, $bg) {
    color: $fg;
    background: $bg;
}

body {
    background: $bg;
    margin: 0;
}

nav {
    @include color($menu, $menu-bg);
    overflow: hidden;

    // Non-Dropdown items
    .toplevel {
        float: left;
        padding: 14px 16px;

        &:hover { @include color($menu-hover, $menu-hover-bg) }
        &.active { @include color($menu-active, $menu-active-bg) }
    }

    // Dropdown Items
    .dropdown {
        float: left;
        overflow: hidden;

        &:hover {
            @include color($menu-hover, $menu-hover-bg);
            .dropdown-content { display: block; }
        }

        // Top-level Item
        .dropbtn {
            padding: 14px 16px;

            &:hover { @include color($menu-hover, $menu-hover-bg) }
            &.active { @include color($menu-active, $menu-active-bg) }
        }

        // Dropdown items
        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            @include color($menu-drop, $menu-drop-bg);

            a {
                float: none;
                padding: 12px 16px;
                display: block;
                text-align: left;

                &:hover { @include color($menu-drop-hover, $menu-drop-hover-bg) }
                &.active { @include color($menu-drop-active, $menu-drop-active-bg) }
            }
        }
    }

    // Default link style
    a {
        text-decoration: none;
        @include color(inherit, inherit);
    }
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}

