body {
  background: #FFFFFF;
  margin: 0; }

  nav {
    color: #FFFFFF;
    background: #00FF00;
    overflow: hidden; }
    nav .toplevel {
      float: left;
      padding: 14px 16px; }
      nav .toplevel:hover {
        color: #FFFFFF;
        background: #0000FF; }
        nav .toplevel.active {
          color: #FFFFFF;
          background: #FF0000; }
    nav .dropdown {
      float: left;
      overflow: hidden; }
      nav .dropdown:hover {
        color: #FFFFFF;
        background: #0000FF; }
        nav .dropdown:hover .dropdown-content {
          display: block; }
      nav .dropdown .dropbtn {
        padding: 14px 16px; }
        nav .dropdown .dropbtn:hover {
          color: #FFFFFF;
          background: #0000FF; }
          nav .dropdown .dropbtn.active {
            color: #FFFFFF;
            background: #FF0000; }
      nav .dropdown .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        color: #FFFFFF;
        background: #00FFFF; }
        nav .dropdown .dropdown-content a {
          float: none;
          padding: 12px 16px;
          display: block;
          text-align: left; }
          nav .dropdown .dropdown-content a:hover {
            color: #FFFFFF;
            background: #0000FF; }
            nav .dropdown .dropdown-content a.active {
              color: #FFFFFF;
              background: #FF0000; }
    nav a {
      text-decoration: none;
      color: inherit;
      background: inherit; }

footer {
  position: absolute;
  bottom: 0;
  text-align: center; }
