{% extends "base.html" %}

{% block title %}Game: {{ game.name }}{% endblock %}

{% block content %}
    <h1>Game: {{ game.name }}</h1>

    <p>Currently playing: {{ stats_currently_playing(game_id=game.id) }}</p>
    <p>Number of Players: {{ stats_number_of_players(game_id=game.id) }}</p>

    <h2>Watchers</h2>
        <table class="table">
            <thead>
                <tr>
                    <td scope="col">Info</td>
                    <td scope="col">Currently Playing</td>
                    <td scope="col">Total Players</td>
                </tr>
            </thead>
            <tbody>
                {% for watcher in watchers %}
                    <tr>
                        <td>
                            <a href="{{ url_for('watchers.index_one', watcher_id=watcher.id) }}">
                                {{ watcher.game.name }} watcher
                            </a>
                        </td>
                        <td>
                            {{ stats_currently_playing(game_id=game.id, watcher_id=watcher.id) }}
                        </td>
                        <td>
                            {{ stats_number_of_players(game_id=game.id, watcher_id=watcher.id) }}
                        </td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>

    <h2>Players</h2>
        <table class="table">
            <thead>
                <tr>
                    <td scope="col">Username</td>
                    <td scope="col">Nickname</td>
                    <td scope="col">Score</td>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr>
                        <td>
                            <a href="{{ url_for('users.index_one', user_id=player.id) }}">
                                {{ player.username }}
                            </a>
                        </td>
                        <td>{{ player.nickname }}</td>
                        <td>{{ stats_score(game_id=game.id, user_id=player.id) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
