{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block content %}
    <h1>Games</h1>
    <table class="table">
        <thead>
            <tr>
                <td scope="col">Game</td>
                <td scope="col">Currently Playing</td>
                <td scope="col">Number of Players</td>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td>
                        {{ game.name }}
                        <a href="{{ url_for('games.index_one', game_id=game.id) }}">
                            (Scoreboard)
                        </a>
                    </td>
                    <td>{{ stats_currently_playing(game_id=game.id) }}</td>
                    <td>{{ stats_number_of_players(game_id=game.id) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
