{% extends "base.html" %}

{% block title %}Watchers{% endblock %}

{% block content %}
    <h1>Watchers</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Game</td>
                <td>Class</td>
                <td>Currently Playing</td>
                <td>Number of Players</td>
            </tr>
        </thead>
        <tbody>
            {% for watcher in watchers %}
                <tr>
                    <td>
                        <a href="{{ url_for('watchers.index_one', watcher_id=watcher.id) }}">
                            {{ watcher.game.name }} watcher
                        </a>
                    </td>
                    <td>{{ watcher.threadClass }}</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
