{% from 'macros.html' import active, active_subsite %}
<html>
    <head>
        {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block css %}
        {% assets "scss_default" %}
        <link rel="stylesheet" type="text/css" href="/css/default.css">
        {% endassets %}
        {% endblock %}

        <title>{% block title %}{% endblock %} - Lamon </title>
        {% endblock %}
    </head>

    <body>
        <nav>
            <a class="{{active('index')}} toplevel"
                href="/">Home</a>

            <a class="{{active('players')}} toplevel"
                href="/players">Players</a>

            <div class="dropdown">
                <div class="dropbtn {{active_subsite('game')}}">
                    <a href="/games">Games</a>
                </div>
                <div class="dropdown-content">
                    {% for game in games %}
                        <a class="{{active(game[1])}}"
                                href="{{ game[2] }}">{{ game[0] }}</a>
                    {% endfor %}
                </div>
            </div>

            <a class="{{active('info')}} toplevel"
               href="/info">Info</a>

            <a class="{{active('profile')}} toplevel"
               style="float:right" href="/profile">Profile</a>
        </nav>

        <main>
            {% block content %}{% endblock %}
        <main>

        <footer>
            {% block footer %}
            Lamon
            {% endblock %}
        </footer>
    </body>
</html>
